@{
    ViewBag.Title = "Sovelluksesta";
}
<!--<h2>@ViewBag.Title</h2>-->
<h2>@ViewBag.Message</h2>

<br />
<p>
    Tällä sovelluksella voidaan lisätä, poistaa ja päivittää seuraavia tietoja:
    <ul>
        <li>projektit</li>
        <li>projektihenkilöt</li>
        <li>sekä heidän tekemiään tunteja eri projekteille</li>
    </ul>
</p>
<br />
<p>
    Lisäksi raporttiosuudessa on mahdollista saada seuraavat raportit:
    <ul>
        <li>henkilöiden tekemät tunnit eri projekteille</li>
        <li>sekä tehdyt tunnit projekteittain</li>
    </ul>
</p>
<br />
<p>
    Sovelluksen on kehittänyt ja koodannut Sanna Ketomäki <a href="https://www.careeria.fi/">Careerian</a>, ent. PointCollege, Ohjelmoinnin jatkokurssin opetusmateriaalin
    ja muiden internetistä löytyvien tutorialien avulla.
</p>
