@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>PROJEKTIEN YLLÄPITO JA RAPORTOINTI</h2>
    <h2>By SKe</h2>
    <h2>6.1.2019</h2>
    <p class="lead">Ohjelmoinnin jatkokurssin palautettava harjoitus</p>
</div>
    <div class="col-md-6">
        <h3>Listaukset ja ylläpito</h3>
        <p><a href="/Projektihenkilot/Index" class="btn btn-primary btn-lg">Projektihenkilöt &raquo;</a></p>
        <p><a href="/Projektit/Index" class="btn btn-primary btn-lg">Projektit &raquo;</a></p>
        <p><a href="/Tunnit/Index" class="btn btn-primary btn-lg">Tunnit &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h3>Projektiraportit</h3>
        <p><a href="/HenkiloidenProjektit/Index" class="btn btn-primary btn-lg">Henkilöiden projektitiedot &raquo;</a></p>
        <p><a href="/ProjektienHenkilot/Index" class="btn btn-primary btn-lg">Projektien tuntitiedot &raquo;</a></p>
    </div>


    <div class="row">
    </div>
